<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span
      ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui botom attached segment">

  <div>
    <p>
      <strong> Status: </strong>
      <span
        class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Basic Info
      </div>

      <div class="field">
        <strong>
          Created on:
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          Last Updated:
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> Email </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

    </fieldset>

  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
       Profile
      </div>
      <div class="field">
        <label> Full Name </label>
        <input type="text"
                name="name"
                ng-model="selectedUser.profile.name">
      </div>
      
      <div class="field">
        <label> Email </label>
        <input type="email"
               name="email"
               ng-model="selectedUser.email">
      </div>

      <div class="field" ng-show="autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               disabled="disabled"
               ng-show="autoFilledSchool"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field" ng-show="!autoFilledSchool">
        <label> School </label>
        <div id="school" class="ui search">
          <div class="ui input">
            <input class="prompt" type="text" placeholder="School" name="school" ng-model="selectedUser.profile.school">                
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field">
        <label>Grade Level</label>
        <select
          name="grade"
          ng-model="selectedUser.profile.grade">
          <option value="HighSchool">High School </option>
          <option value="Freshman">Freshman</option>
          <option value="Sophomore">Sophomore</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
          <option value="Grad">Graduate</option>
        </select>
      </div>

      <div class="field">
        <label> If you're in college, what are you studying (majors and/or minors)? If you're in high school, what are you thinking of studying? </label>
        <input type="text"
               name="major"
               placeholder="Computer Science, Product Design, Underwater Basket Weaving, etc."
               ng-model="selectedUser.profile.major">
      </div>

      <div class="field">
        <label>Gender</label>
        <select
          name="gender"
          ng-model="selectedUser.profile.gender">         
          <option value="Female">Female</option>
          <option value="Trans">Trans</option>
          <option value="NonBinary">Non-Binary</option>
          <option value="PreferNotToAnswer">Prefer not to answer</option>
        </select>
      </div>

      <div class="field">
        <label>Ethnicity</label>
        <select
          name="ethnicity"
          ng-model="selectedUser.profile.ethnicity">
          <option value="Asian">Asian or Pacific Islander</option>
          <option value="African">Black/African American</option>
          <option value="Caucasian">Caucasian</option>
          <option value="Hispanic">Hispanic/Latinx</option>
          <option value="NativeAmerican">Native American/Alaska Native</option>
          <option value="Multiracial">Multiracial</option>
          <option value="Other">Other</option>
          <option value="PreferNotToAnswer">Prefer Not To Answer</option>
        </select>
      </div>

      <div class="field">
        <label>Transportation</label>
        <p>We will send out buses to schools based on interest and provide Lyft codes to selected applicants</p>       
        <div class="ui checkbox">
          <input type="checkbox" id="transportation" ng-model="selectedUser.profile.transportation">
          <label for="transportation">I will require transportation assistance</label>
        </div>
      </div>
      
      <br>
      <br>

      <div class="divided title">Hackathon Questions</div>

      <div class="field">
        <label> How many hackathons have you attended? </label>
        <p>We're just curious! We love all hackers, beginners and experts. :) If AthenaHacks will be your first: 1) we're honored! 2) enter '0' as your answer</p>
        <input type="number"
               name="hacks"
               ng-model="selectedUser.profile.hacks">
      </div>

      <div class="field">
        <label>
          Have you attended AthenaHacks before?
        </label>
        <p>
          If so, welcome back!
        </p>
        <div class="ui checkbox">
          <input type="checkbox" id="attended" ng-model="selectedUser.profile.attended">
          <label for="adult">Yes, I have!</label>
        </div>
      </div>
      
      <div class="field">
        <label>
          Why do you want to attend AthenaHacks?
        </label>
        <p>
          Your answer can be as long or as short as you like. We just want to get to know you!
        </p>
        <textarea ng-model="selectedUser.profile.essay">
        </textarea>
      </div>

      <div class="field">
        <label>
          What excites you?
        </label>
        <p>
          We want to make AthenaHacks an amazing learning experience for you! You don't need any experience in any of the following topics. That's what we're here for!
        </p>
        <textarea ng-model="selectedUser.profile.topic" placeholder="iOS development, Android development, Web development, Design, Games, Hardware, Project/Product Management, Data Analytics, Robotics, VR/AR">
        </textarea>
      </div>

      <div class="field">
        <label> Please share some links about you to help us get to know you better? (e.g. personal website, LinkedIn, Github, Devpost, resume) </label>
        <p>If you don't have any of the above, that's totally cool! Just share a couple sentences about what your interests are or things you have done/projects you have worked on in the past. (big or small!)</p>
        <textarea ng-model="selectedUser.profile.links">
        </textarea>
      </div>

      <div class="field">
        <label>
          Will you be 18 or older by March 7th, 2020?
        </label>
        <p>
          No worries if you won't be 18 by then, we welcome minors as well!
        </p>
        <div class="ui checkbox">
          <input type="checkbox" id="adult" ng-model="selectedUser.profile.adult">
          <label for="adult">Yes, I will be 18 or older.</label>
        </div>
      </div>

      <br>

      <div class="field">
        <div
          ng-click="updateProfile()"
          class="ui positive right labeled icon button">
          Update Profile
          <i class="checkmark icon"></i>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> What is your phone number? (format: xxx-xxx-xxxx) </label>
        <p>
          Don’t worry, we’ll only use it for emergency contacts/updates.
        </p>
        <input type="tel"
               name="phone"
               ng-model="selectedUser.confirmation.phoneNumber"
               ng-pattern="/?\d{3}[- ]?\d{3}[- ]?\d{4}$/"
               placeholder="xxx-xxx-xxxx"              
               required>
      </div>

      <div class="field">
        <label> What is your birthdate?</label>
        <p>You need to be above 17 years old to attend AthenaHacks.</p>
        <input type="date"
               name="birthdate"
               ng-model="selectedUser.confirmation.birthdate" 
               placeholder="2020-03-07"
               required>
      </div>

      <div class="field">
          <label>
            Will you be 18 or older by March 7th, 2020?
          </label>
          <p>
            You need to be at least 18 years old to attend AthenaHacks if you are not a current USC student.
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="selectedUser.confirmation.adult">
            <label for="adult">Yes, I will be 18 or older.</label>
          </div>
      </div>

      <div class="field">
        <label> What is your graduation year?</label>
        <input type="number"
               name="gradYear"
               ng-model="selectedUser.confirmation.gradYear" 
               required>
      </div>


      <div class="field">
        <label> Dietary Restrictions </label>

        <p>
          If your restriction is not included here, please let us know in the additional notes at the bottom.
        </p>
        <p>
          We'll make sure you get fed :)
        </p>

        <div class="ui checkbox">
          <input name="vegetarian" type="checkbox" id="vegetarian" ng-model="selectedUser.confirmation.vegetarian">
          <label for="vegetarian">Vegetarian</label>
        </div>

        <br>

        <div class="ui checkbox">
          <input name="vegan" type="checkbox" id="vegan" ng-model="selectedUser.confirmation.vegan">
          <label for="vegan">Vegan</label>
        </div>
        
        <br>

        <div class="ui checkbox">
          <input name="glutenfree" type="checkbox" id="glutenfree" ng-model="selectedUser.confirmation.glutenfree">
          <label for="glutenfree">Gluten Free</label>
        </div>


      </div>


      <div class="field">
        <label> Shirt Size </label>
        <p>
          Yay free clothes! Heads up, these will be women's size shirts, so they tend to run small. 
        </p>
        <select
          name="shirt"
          ng-model="selectedUser.confirmation.shirtSize"
          required>
          <option value="">Shirt Size</option>
          <option value="S">Small</option>
          <option value="M">Medium</option>
          <option value="L">Large</option>
          <option value="XL">X-Large</option>
        </select>
      </div>

      <div class="field">
        <label> Resume Link </label>
        <p>You don't have to, but we would love it if you did. :) Don't forget to make sure the link is visible to the public if you're uploading it to Google Drive!</p>
        <input type="text"
               name="resume"
               placeholder="https://drive.google.com/foobar"
               ng-model="selectedUser.confirmation.resume">
      </div>

      <br>
      <br>

      <div class="divided title">Travel</div>

      <div class="field">
        <p>
          We’ll be sending buses free of charge to Los Angeles, Riverside, Irvine, and San Luis Obispo with pickups at following schools. <br />
          Please sign up for a bus spot and we will put you in contact with the bus coordinator!
        </p>
      </div>

      <div class="field">
          <label> Will you need a bus spot from any of these locations? </label>
          <select
            name="bus"
            ng-model="selectedUser.confirmation.bus"
            required>
            <option value="">Bus Options</option>
            <option value="No">No, I would provide my own transportation</option>
            <option value="UCLA">University of California Los Angeles (UCLA) </option>
            <option value="UCR">University of California Riverside (UCR) </option>
            <option value="UCI">University of California Irvine (UCI) </option>
            <option value="CalPolySLO">California Polytechnic State University (Cal Poly SLO) </option>
          </select>
        </div>

        <div class="field">
          <label> If you are in the Los Angeles area, would you need Lyft Code to come to USC? </label>
          <p>We also encourage you to carpool with your friends and share the Lyft ride</p>
          <div class="ui checkbox">
            <input type="checkbox" id="mlh" ng-model="selectedUser.confirmation.lyft" required>
            <label for="lyft">Yes, I would need Lyft Code</label>
          </div>
        </div>

      <br>
      <br> 
      <div class="divided title">Emergency Contact (Safety First!)</div>

      <div class="field">
        <label> Emergency contact name </label>
        
        <input type="text"
               name="econtact"
               ng-model="selectedUser.confirmation.econtact"
               required>
      </div>

      <div class="field">
        <label> Emergency contact number </label>
        
        <input type="tel"
               name="enumber"
               ng-model="selectedUser.confirmation.enumber"
               placeholder="xxx-xxx-xxxx"
               required>
      </div>

      <br>
      <br>
      <div class="divided title">MLH Code of Conduct</div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" id="mlh" ng-model="selectedUser.confirmation.mlh" required>
          <label for="mlh">"I have read and agree to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct"</a></label>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" id="mlhauth" ng-model="selectedUser.confirmation.mlhauth" required> 
          <label for="mlhauth"> “I authorize you to share certain application/registration information for event administration, ranking, MLH administration, pre and post-event informational e-mails, and occasional messages about hackathons in-line with the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>. I further I agree to the terms of both the <a href="https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md" target="_blank">MLH Contest Terms and Conditions</a> and the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>.”</label>
        </div>
      </div>

      <br><br>

      <div class="divided title">Additional Notes</div>

      <div class="field">
        
        <p>
          If there's anything else you need to let us know, tell us here!
        </p>
        <textarea
          ng-model="selectedUser.confirmation.notes"></textarea>
      </div>
      
    </fieldset>

  </div>
</div>
