#application {
  color: $font-color;

  .page-header {
    background: url(../assets/images/flower.png);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: 75%;
  }

  input, textarea {
    background: $input-background-color;
    color: $font-color;
  }
  input:focus, textarea:focus, select:focus {
    border: 1px solid $tertiary;
    color: $font-color;
  }

  input::selection, textarea::selection, select::selection {
    color: $font-color;
  }

  input::placeholder, textarea::placeholder, select::placeholder {
    color: rgb(211, 211, 211);
  }

  select {
    background: url(../assets/images/dropdown.png) 99% / 5% no-repeat rgba(250, 230, 230, 0.16);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $font-color;
  }

  label {
    color: $secondary;
  }

  .results {
    background: $primary;
    .title {
      color: $font-color;
    }
    .result:hover {
      background: $input-background-color;
    }
  }

  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .sub {
    background-color: #F0ADAE;
    color: $font-color;
  }
  .sub:hover {
    background-color: rgb(236, 131, 133);
  }
}