#application {
  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .sub {
    background-color: #fac390;
    color: white;
  }
  .sub:hover {
    background-color: #fdb877;
  }
}