// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.
/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #2F2F4A;
$secondary: #ffdd82;
$tertiary: #F0ADAE;
