#login {
  height: 100%;
  width: 100%;
  background-color: $login-bg-color;
  background: url('../assets/images/sakura.png'); 
  background-size: cover;

  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .logo {
        max-width: 100px;
        margin: .5rem auto 1rem auto;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .button {
        color: white;
        -webkit-transition-duration: 0.2s; /* Safari */
        transition-duration: 0.2s;
        &.login {
          background: $login-color;
        }
        &.register {
          background: $register-color
        }
        &.login:hover {
          background: rgb(99, 99, 139);
        }
        &.register:hover {
          background: rgb(236, 131, 133);
        }
      }

      .forgot {
        text-align: center;
      }

      .title {
        text-align: center;
        color: #929292;
        font-size: 1.2em;
      }

    }
  }

}

//background for mobile
@media only screen and (max-width: 768px) {
  #login {
    background: url('../assets/images/moon.png');
  }
}