<div class="page">
  <div class="divided title page-header">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> What is your phone number? (format: xxx-xxx-xxxx) </label>
            <p>
              Don’t worry, we’ll only use it for emergency contacts/updates.
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   ng-pattern="/?\d{3}[- ]?\d{3}[- ]?\d{4}$/"
                   placeholder="xxx-xxx-xxxx"              
                   required>
          </div>

          <div class="field">
            <label> What is your birthdate?</label>
            <input type="date"
                   name="birthdate"
                   ng-model="user.confirmation.birthdate" 
                   placeholder="2020-03-07"
                   required>
          </div>

          <div class="field">
              <label>
                Will you be 18 or older by March 7th, 2020?
              </label>
              <p>
                You need to be at least 18 years old to attend AthenaHacks if you are not a current USC student.
              </p>
              <div class="ui checkbox">
                <input type="checkbox" id="adult" ng-model="user.confirmation.adult">
                <label for="adult">Yes, I will be 18 or older.</label>
              </div>
          </div>

          <div class="field">
            <label> What is your graduation year?</label>
            <input type="number"
                   name="gradYear"
                   ng-model="user.confirmation.gradYear" 
                   required>
          </div>


          <div class="field">
            <label> Dietary Restrictions </label>

            <p>
              If your restriction is not included here, please let us know in the additional notes at the bottom.
            </p>
            <p>
              We'll make sure you get fed :)
            </p>

            <div class="ui checkbox">
              <input name="vegetarian" type="checkbox" id="vegetarian" ng-model="user.confirmation.vegetarian">
              <label for="vegetarian">Vegetarian</label>
            </div>

            <br>

            <div class="ui checkbox">
              <input name="vegan" type="checkbox" id="vegan" ng-model="user.confirmation.vegan">
              <label for="vegan">Vegan</label>
            </div>
            
            <br>

            <div class="ui checkbox">
              <input name="glutenfree" type="checkbox" id="glutenfree" ng-model="user.confirmation.glutenfree">
              <label for="glutenfree">Gluten Free</label>
            </div>


          </div>


          <div class="field">
            <label> Shirt Size </label>
            <p>
              Yay free clothes! Heads up, these will be women's size shirts, so they tend to run small. 
            </p>
            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value="">Shirt Size</option>
              <option value="S">Small</option>
              <option value="M">Medium</option>
              <option value="L">Large</option>
              <option value="XL">X-Large</option>
            </select>
          </div>

          <div class="field">
            <label> Resume Drop </label>
            <p>We will share it with our sponsors and they will reach out to you if you are a good fit to an opening!</p>
            <a href="https://bit.ly/2YoRApx" target="_blank">Resume Drop Google Form</a>
            <!--
            <input type="text"
                   name="resume"
                   placeholder="https://drive.google.com/foobar"
                   ng-model="user.confirmation.resume">
            -->
          </div>

          <br>
          <br>

          <div class="divided title">Travel</div>

          <div class="field">
            <p>
              We’ll be sending buses free of charge to Los Angeles, Riverside, Irvine, and San Luis Obispo with pickups at following schools. <br />
              Please sign up for a bus spot and we will put you in contact with the bus coordinator!
            </p>
          </div>

          <div class="field">
            <label> Will you need a bus spot from any of these locations? </label>
            <select
              name="bus"
              ng-model="user.confirmation.bus"
              required>
              <option value="">Bus Options</option>
              <option value="No">No, I would provide my own transportation</option>
              <option value="UCLA">University of California Los Angeles (UCLA) </option>
              <option value="UCR">University of California Riverside (UCR) </option>
              <option value="UCI">University of California Irvine (UCI) </option>
              <option value="CalPolySLO">California Polytechnic State University (Cal Poly SLO) </option>
            </select>
          </div>

          <div class="field">
            <label> If you are in the Los Angeles area, would you need Lyft Code to come to USC? </label>
            <p>We encourage you to carpool with your friends and share the Lyft ride. Unfortunately we will not be able to provide mileage reimbursement this year.</p>
            <div class="ui checkbox">
              <input type="checkbox" id="lyft" ng-model="user.confirmation.lyft" required>
              <label for="lyft">Yes, I would need Lyft Code</label>
            </div>
          </div>

          <br>
          <br> 
          <div class="divided title">Emergency Contact (Safety First!)</div>

          <div class="field">
            <label> Emergency contact name </label>
            
            <input type="text"
                   name="econtact"
                   ng-model="user.confirmation.econtact"
                   required>
          </div>

          <div class="field">
            <label> Emergency contact number </label>
            
            <input type="tel"
                   name="enumber"
                   ng-model="user.confirmation.enumber"
                   placeholder="xxx-xxx-xxxx"
                   required>
          </div>

          <!-- <br>
          <br>
          <div class="divided title">MLH Code of Conduct</div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="mlh" ng-model="user.confirmation.mlh" required>
              <label for="mlh">"I have read and agree to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct"</a></label>
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="mlhauth" ng-model="user.confirmation.mlhauth" required> 
              <label for="mlhauth"> “I authorize you to share certain application/registration information for event administration, ranking, MLH administration, pre and post-event informational e-mails, and occasional messages about hackathons in-line with the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>. I further I agree to the terms of both the <a href="https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md" target="_blank">MLH Contest Terms and Conditions</a> and the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>.”</label>
            </div>
          </div> -->

          <br><br>

          <div class="divided title">Additional Notes</div>

          <div class="field">
            
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui tertiary button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
